*{
    margin: 0;
    padding: 0;
}
body{
    background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(48, 67, 161, 1) 100%);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}
.quote{
 background-color: white;
 text-align: center;
 padding: 20px;
 border-radius: 10px;
 font-size: 20px;
 box-shadow: 2px -2px 23px 0 rgba(0, 0, 0, 0.75);
}
.quote button{
    padding:  10px 20px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    background-color: #2A7B9B;
    color: white;
}

.quote button:hover{
    transform: scale(0.95);
    transition: 0.3s;
}